<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="I am a fullstack web engineer that builds web sites and applications to solve business problems using the beauty of programming logic in combination with modern technological solutions, tools and techniques">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap" rel="stylesheet">
        <script src="{{'/scripts/libs/gsap.min.js'}}" defer></script>
        <script src="{{'/scripts/libs/ScrollTrigger.min.js'}}" defer></script>
        <script src="{{'/scripts/main.js'}}" defer></script>
        <script src="{{'/scripts/clean-blog.js'}}" defer></script>
        <script src="{{'/scripts/animations.js'}}" defer></script>
        <link rel="stylesheet" href="{{'/prism-shades-of-purple.css' | url | safe}}">
          <link href="https://twitter.com/HillTheLight" rel="me">
          <link href="https://github.com/hillonyechekwa" rel="me">
          <link href="mailto:hillonyechekwa@gmail.com" rel="me">
        {# <script src="{{'/scripts/animate/MorphSVGPlugin.min.js'}}" defer></script> #}
    <title>{{title}}</title>
    <style>
        {% include "css/styles.css" ignore missing%}
    </style>
</head>

<body>
    {% include "nav.njk" %}
     <main class="main-content container">
         {% include "search-result.njk" %}
         {{content | safe}}
     </main>
     {% include "contact.njk" %}
     {% include "footer.njk" %}
     {% block scripts %}
        <!-- search only version -->
        <script
          src="https://cdn.jsdelivr.net/npm/algoliasearch@4.17.1/dist/algoliasearch-lite.umd.js"
          integrity="sha256-F7emIId74fYoGrHzsnu3iClRHIbBMhMCbxDoA1cfMAY="
          crossorigin="anonymous"
        ></script>

        <!-- default version -->
        <script
          src="https://cdn.jsdelivr.net/npm/algoliasearch@4.17.1/dist/algoliasearch.umd.js"
          integrity="sha256-akfAZ4+oz0QZ/9Ij/btqYabueam+0owNNQSpyl+0Z+E="
          crossorigin="anonymous"
        ></script>

     {% endblock %}
 </body>
 
 </html>