<footer class="footer">
    <nav class="footer-nav">
        <a href="//github.com/hillonyechekwa">GitHub</a>
        <a href="//twitter.com/hillztheengineer">Twitter</a>
        <a href="//codepen.io/hillonyechekwa">Codepen</a>
        <a href="//hill.netlify.app">Website</a>
    </nav>
    <p id="copy-right">Designed &amp; built by <span>&copy; Hill Onyechekwa. All Rights Reserved {%year%} </span></p>
</footer>