<nav class="navigation">
    <div>
        <h3 class="logo">Chunks__</h3>
    </div>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/posts">all posts</a></li>
        <li>light</li>
    </ul>
</nav>

