<nav class="navigation">
    <div>
        <h3 class="logo">byteism</h3>
    </div>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/posts">all posts</a></li>
        <li>light</li>
    </ul>
    <form id="search-form">
        <input type="search" id="search-input" name="search-input" placeholder="what are you looking for?">
    </form>
</nav>

