---
layout: base.njk
---

<main class="post">
    <header id="post-data">
        <h2>{{title}}</h2>
        <p>{{date}}</p>
        <nav id="post-tag-list">
            {% for tag in tags %}
            <span class="post-tag">{{ tag }}</span>
            {% endfor %}
        </nav>
    </header>
    <article class="post-content">
        {{ content | safe }}
    </article>
</main>