---
title: 'Sorry!, Not Found'
layout: base.njk
---

<main class="wrapper">
	<h2>{{ title }}</h2>
	<p>My bad about this, You can <a href="/">find your way back</a> to reading some awesome code content.</p>
</main>