$base-color: hsl(246, 79%, 56%);
$dark-color: hsl(219, 29%, 14%);
$font: "Clash Grotesk", 'Space Grotesk', sans-serif;
$link: hsl(197, 58%, 62%);
$text-color: hsl(208, 49%, 24%);
$neutral: hsl(210, 46%, 95%);

//media variables
$media-mobile-s: "only screen and (max-width: 320px)";
$media-mobile-m: "only screen and (max-width: 375px)";
$media-mobile-l: "only screen and (max-width: 425px)";
$media-tab: "only screen and (max-width: 768px)";
